<div class="password-validator-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div *ngIf="password?.errors?.required && password?.touched">
        Password is required.
      </div>
      <div *ngIf="password?.errors?.minlength && password?.touched">
        Password must be at least 8 characters long.
      </div>
      <div *ngIf="password?.errors?.hasUpperCase && password?.touched">
        Password must contain at least one uppercase letter.
      </div>
      <div *ngIf="password?.errors?.hasNumber && password?.touched">
        Password must contain at least one number.
      </div>
  
      <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
    </form>
  </div>